body {
    position: relative;

    width: 100%;
    height: 100vh;
    overflow: hidden;

    &.root-layout {
        padding: var(--gutter) !important;

        display: flex;
        gap: var(--grid-gap);

        main {
            height: calc(100vh - var(--gutter) * 2);
            border: var(--border);
            border-radius: var(--radius-md);
            padding: 48px;

            display: flex;
            flex-direction: column;
            flex-grow: 1;
            gap: 32px;

            overflow: hidden;
        }
    }

    &.auth-layout {
        padding: var(--gutter) !important;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        main {
            width: 100%;
            max-width: 600px;
            height: max-content;
            padding: 48px;

            display: flex;
            flex-direction: column;
            gap: 32px;

            overflow-y: auto;
        }
    }
}

.data-table {
    width: 100%;
    height: calc(100vh - var(--gutter) * 2 - 64px - 48px - 120px);
}

h1 {
    color: var(--black);
    font-size: 42px;
    font-weight: 500;
    line-height: 1.15em;
    letter-spacing: -0.03em;
}

h2 {
    color: var(--black);
    font-size: 32px;
    font-weight: 400;
    line-height: 1.15em;
    letter-spacing: -0.03em;
}

hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--lines-hover);
}

.card {
    background-color: var(--light-grey);
    border: var(--border);
    border-radius: var(--radius-md);

    transition: var(--215-fast);

    &:not(.no-hover) {
        &:hover:not(:has(.button.small:hover)) {
            border-color: var(--lines-hover);
        }

        &.accent-hover:hover:not(:has(.button.small:hover)) {
            // background: var(--gradient-bg) !important;
            background-color: var(--accent-lower-opac) !important;
            border-color: var(--accent) !important;
            color: var(--accent) !important;

            // *:not(.no-color-change) {
            //     color: var(--accent) !important;
            // }
        }
    }
}

.button {
    width: max-content;
    padding-inline: var(--inline);
    height: 60px;
    background-color: var(--light-grey);
    border: var(--border);
    border-radius: var(--radius-md);

    font-size: 16px;
    white-space: nowrap;

    display: flex;
    align-items: center;

    cursor: pointer;
    outline: 3px solid transparent;
    transition: var(--215-fast);

    &.full-width {
        width: 100%;
        justify-content: center;
    }

    &.between {
        justify-content: space-between;
    }
    &.rounded-sm {
        border-radius: var(--radius-sm);
    }

    &.small {
        height: 30px;
        padding-inline: 14px;
        border-radius: var(--radius-sm);

        font-size: 12px;

        &.square {
            width: 30px;
            padding-inline: unset;
        }
    }

    &.square {
        width: 60px;
        padding-inline: unset;
        justify-content: center;
    }

    &.vertical {
        width: 60px;
        height: unset;

        writing-mode: vertical-lr;
        rotate: 180deg;
    }

    &:hover:not(:has(.button.small:hover)) {
        border-color: var(--lines-hover);
        color: var(--black);
    }

    &.accent-hover:hover:not(:has(.button.small:hover)),
    &.accent-hover:focus-visible:not(:has(.button.small:hover)) {
        // background: var(--gradient-bg) !important;
        background-color: var(--accent-lower-opac) !important;
        border-color: var(--accent) !important;
        color: var(--accent) !important;

        // * {
        //     color: var(--accent) !important;
        // }
    }

    &:focus-visible:not(:has(.button.small:hover)) {
        outline: 3px solid var(--lines);
        border-color: var(--lines-hover);
    }
    &.accent-hover:focus-visible:not(:has(.button.small:hover)) {
        outline: 3px solid var(--accent-low-opac);
        border-color: var(--accent);
    }

    &.active {
        // background: var(--gradient-bg) !important;
        background-color: var(--accent-lower-opac) !important;
        border-color: var(--accent) !important;
        color: var(--accent) !important;

        &:hover {
            background-color: var(--accent-low-opac) !important;
        }
        &:focus-visible {
            outline: 3px solid var(--accent-low-opac) !important;
        }
    }
}

.input {
    width: 100%;
    height: 60px;
    padding-inline: var(--inline);
    background-color: var(--light-grey);
    border: var(--border);
    border-radius: var(--radius-sm);

    color: var(--black);
    font-size: 16px;

    outline: 3px solid transparent;

    display: flex;
    align-items: center;

    transition: var(--215-fast);

    &.small {
        height: 40px;
        padding-inline: 16px;
        font-size: 14px;
    }

    &::placeholder {
        color: var(--low-opac-text);
    }

    &:hover:not(:has(.button.small:hover)) {
        border-color: var(--lines-hover);
    }

    &:focus-visible:not(:has(.button.small:hover)) {
        outline: 3px solid var(--lines);
        border-color: var(--lines-hover);
    }

    &.textarea {
        height: 150px;
        padding-block: var(--inline);
        resize: none;
    }
}

.badge {
    width: max-content;
    height: 25px;
    padding-inline: 10px;
    border-radius: 100px;
    background-color: var(--light-grey);

    font-size: 12px;
    font-weight: 500;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    transition: var(--215-fast);

    &.green {
        color: var(--green) !important;
        background-color: var(--green-low-opac);
    }

    &.red {
        color: var(--red) !important;
        background-color: var(--red-low-opac);
    }
}

.fast-215 {
    transition: var(--215-fast);
}
.medium-215 {
    transition: var(--215-medium);
}
