.moving-gradient-bg {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;

    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;

    .inner {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .blob {
            position: absolute;
            z-index: 1;

            &#blob-1 {
                top: 10%;
                left: 10%;
                width: 750px;
            }

            &#blob-2 {
                bottom: 10%;
                right: 20%;
                width: 400px;
            }

            @media screen and (max-width: 768px) {
                &#blob-1 {
                    width: 500px;
                }

                &#blob-2 {
                    width: 200px;
                }
            }
        }

        .overlay {
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;
            background-color: var(--overlay);
            backdrop-filter: blur(100px);
        }
    }
}
