.form-modal {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: calc(var(--gutter) * 2);

    display: flex;
    align-items: flex-end;
    justify-content: end;

    .overlay {
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--overlay);

        transition: var(--215-medium);

        cursor: pointer;
    }
    &:hover:not(:has(.modal:hover)) .overlay {
        background-color: var(--overlay-half);
    }

    .modal {
        position: relative;

        width: 650px;
        height: auto;
        max-height: 100%;
        background-color: var(--white);
        border: var(--border);
        border-radius: var(--radius-md);

        transition: var(--215-fast);

        overflow-y: auto;

        &:hover {
            border-color: var(--lines-hover);
        }

        padding: 32px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    span {
        display: flex;
        flex-grow: 1;
    }
}

@keyframes opacity {
    to {
        opacity: 1;
    }
}
